@import 'utils';

.slider-title {
    font-size: 1.4vw;
    font-weight: 600;
    padding-left: 4.5%;
    position: relative;
    top: 25px;
}  
.slider-wrapper {
    padding: 40px 0;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    position: relative;
    
    .slider-container {
      display: flex;
      padding: 0 4%;
      transition: transform 0.4s cubic-bezier(0.5,0,0.1,1) 0s;
      z-index: 3;
      width: 100%;
    }
  
    &:not(&--open) .item:hover .show-details-button {
      opacity: 1;
    }
  
    &:not(&--open) .item:hover {
      transform: scale(1.5) !important;
      
      .image-backdrop {
        opacity: 0.8; 
      }
      .image-ShadowTop {
        display: block;
      }
      .image-title {
        opacity: 0;
      }
    }
  
    &:not(&--open) .item:hover .image-content {
      display: block;
      position: absolute;
      left: 1%;
      bottom: 5%;
      transform: scale(0.7);
    }

    .image-content {
      transition: transform 300ms ease 100ms;
      .content-title {
        font-size: 1.5vw;
        font-weight: 600;
        margin-bottom: 5px;
      }
      .content-item {
        font-size: 1vw;
        font-weight: 100;
      }
      .content-overview {
        margin-top: 5px;
        font-size: 1vw;
        font-weight: 350;
      }
    }

    &:not(&--open):hover .item {
      transform: translateX(-25%);
    }
  
    &:not(&--open) .item:hover ~ .item {
      transform: translateX(25%);
    }
}