@import 'utils';

body a:hover {
    color: white;
    text-decoration: none;
}


.actionBar {
    display: flex;
    justify-content: flex-start;
}

// favorite button
.actionBar .favoriteIcon {
    color: #AAAAAA;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-right: 20px;

    .glyphicon-heart {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.2);
        border: 1px solid #fff;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.favoriteIcon .glyphicon-heart{
    &:hover {
        color: black !important;
        background-color: #fff;
    }
}

// rating button
.actionBar .ratingIcon {
    color: #AAAAAA;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-right: 20px;

    .glyphicon-star {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.2);
        border: 1px solid #fff;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.ratingIcon .glyphicon-star{
    &:hover {
        color: black !important;
        background-color: #fff;
    }
}

.rating_tooltip {
    .tooltip-inner {
        background-color: #959595;
        color: white;
        padding: .4rem .6rem;
    }

    .rating_wrapper {
        p {
            margin-bottom: 5px;
        }
    }
}

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: #959595 !important;
}

.rating_stars_wrapper, .clear-rating {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.rating_stars_wrapper .clear-rating {
    padding-right: 5px;
    cursor: pointer;
    font-size: 1.3em;
}

.rating_stars_wrapper .rating_stars {
    font-size: 1.2em;
}