@import 'utils';

body a:hover {
    color: white;
    text-decoration: none;
}

.detailTab-wrapper {
    height: 100%;
    margin-bottom: 20px;
}

.detailTab-container {
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
}

.tab-list {
    display: flex;
    width: 80%;
    background-color: rgba(20, 20, 20, 0.3);
    z-index: 10;
    border-radius: 10px;
}

.tab-items {
    width: 33%;
    text-align: center;
    margin-right: 3px;
    transition: border-bottom 0.5s ease-in-out;
    font-weight: 600;

    .tab-link {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
}

.detailTab-content {
    padding-top: 15px;
    width: 80%;
}