@import 'utils';

body a:hover {
    color: white !important;
    text-decoration: none;
}

.header {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 10;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.8);
}

.logo {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    height: 45px;
    width: 130px;
}

.left-content {
    display: flex;
    height: 100%;
    margin-left: 3%;
    color: #ffffff;

    .left-content-list {
        display: flex;
        width: 100%;
    }

    .left-content-items {
        width: 85px;
        height: 50px;
        text-align: center;
        border-bottom: 3px solid transparent;
        margin-right: 5px;
        color: #ffffff;
        transition: border-bottom 0.5s ease-in-out;
        font-size: 14px;
        font-weight: 500;
    }
}

.right-content {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 120px;

    .right-content-list {
        display: flex;
    }

    .right-content-items {
        width: 85px;
        height: 50px;
        text-align: center;
        border-bottom: 3px solid transparent;
        margin-right: 5px;
        color: #ffffff;
        transition: border-bottom 0.5s ease-in-out;
        font-size: 15px;
        font-weight: 500;
    }
}

.right-content-list .custom-search-wrapper {
    display: flex;
    align-items: center;
}
/* Search bar */
.icon-search svg {
    width: 22px;
}
.icon-search svg path {
    fill: #fff;
}
#custom-search .search-query {
    padding: 5px;
    width: 50px;
    border: 2px solid transparent;
    background-color: transparent;
    color: transparent;
    font-size: 1.2em;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    margin-bottom: 0;
}

#custom-search .search-query::placeholder {
    color: transparent;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
#custom-search .search-query::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
#custom-search .search-query::-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
  #custom-search .search-query:-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
#custom-search .search-query:-ms-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

/* Style when Search is selected */
#custom-search .search-query:focus {
/*   border-radius: 50px; */
    border: 1px solid white;
    background-color: rgba(0,0,0,.75);
    width: 268px;
    height: 32px;
    color: white;
}
    
    /* Style for placeholder value plus fallbacks */
#custom-search .search-query:focus::placeholder {
    color: #cccccc;
}
    
#custom-search .search-query:focus::-webkit-input-placeholder {
    color: #cccccc;
}
    
#custom-search .search-query:focus::-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
    
#custom-search .search-query:focus::-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
    
#custom-search .search-query:focus:-ms-input-placeholder {
    color: #cccccc;
}

/* Style for Button */
#custom-search button {
    border: 0;
    background: none;
    padding: 0;
    width: 20px;
    top: 10px;
    left: -24px;
    margin-bottom: 0;
    border-radius: 3px;
    outline: none;
}

#custom-search button span {
    margin-left: -30px;
}

#dropdown-item-button {
    color: #fff;
    background-color: $hotPink;
    border-color: $hotPink;
    border-radius: 50%;
    font-weight: 600;
    &:focus {
        box-shadow: none;
        outline: none;
    }
}
.dropdown-toggle.btn.btn-primary::after {
   display: none;
}

.dropdown-item {
    padding: 0.5rem 1.5rem;
    &:nth-child(n+2):nth-child(-n+4) {
        color: #5E5E5E;
        font-size: 14px;
    }
}
.dropdown-item:hover {
    &:first-child {
        color: black !important;
        background-color: transparent;
    }
    &:not(:first-child) { 
        background-color: #929292;
    }
}

.nav_link {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.subAccount {
    font-size: 11px;
    margin-top: 9px;
    color: rgba(0,0,0,0.5);
}