@import 'utils';

.company-container {
    padding: 5px;
    .company-grid {
        .grid-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fill, 150px);
            grid-gap: 10px;
        }
    }
}

.company-wrapper {
    font-size: 12px;
    padding: 3px;
    margin-bottom: 10px;
    .company {
        height: 40px;
        margin-bottom: 10px;
        background-position: center center;
        background-size: contain;
        border-radius: 4px;
        background-repeat: no-repeat;
    }

    .company-title {
        display: block;
        text-align: center;
    }
}