@import 'utils';


.searchTab-container {
    color: white;
    position: absolute;
    top: 160px;
    left: 70px;
    width: 150px;
    height: 25%;
    display: flex;
    
    flex-direction: column;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 5;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.8);
    padding-left: 10px;

    .searchTab {
        display: flex;
        flex-direction: column;
    }

    .searchTab-item {
        width: 120px;
        height: 50px;
        text-align: center;
        margin-right: 3px;
        transition: border-bottom 0.5s ease-in-out;
        font-size: 14px;
        font-weight: 500;
        &:hover {
            border-bottom: 3px solid $skyBlue;
        }
    }

    .searchTab-link {
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 5px;
    }
}