@import 'utils';

.pagination_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 10px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) { background-color: #7d7d7d; }

