@import 'utils';

.section-container {
    .section-title {
        font-size: 17px;
        font-weight: 600;
    }

    .section {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 125px);
        grid-gap: 25px;
    }
}

