@import 'utils'; 

.detail-container {
    height: calc(100vh - 50px);
    width: 100%;
    position: relative;
    padding: 50px;
}

.detail-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    filter: blur(3px);
    opacity: 0.5;
    z-index: 0;
}

.detail-content {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100%;
}

.detail-cover {
    width: 30%;
    background-position: center center;
    background-size: cover;
    height: 100%;
    border-radius: 5px;
}

.detail-data {
    width: 70%;
    margin-left: 25px;
}

.detail-title {
    font-size: 32px;
}

.detailItem-container {
    margin: 20px 0;
}

.detailItem-divider {
    margin: 0 10px;
}