@import 'utils'; 

.collection-container {
    min-height: calc(100vh - 11.5rem);
    width: 100%;
    position: relative;
    padding: 85px 50px 50px;
}

.collection-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 65vh);
    background-position: center center;
    background-size: cover;
    filter: blur(3px);
    opacity: 0.5;
    z-index: 0;
}

.collection-content {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100%;
}

.collection-cover {
    background-position: center center;
    background-size: cover;
    height: 290px;
    width: 200px;
    border-radius: 5px;
}

.collection-data {
    width: 70%;
    margin-left: 25px;
}

.collection-title {
    margin-top: 15px;
    font-size: 32px;
}

.collectionItem-container {
    margin: 20px 0;
}

.collectionItem {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 125px);
    grid-gap: 25px;
}