@import 'utils';

.search-results {
    padding-left: 165px;
    margin-bottom: 100px;
}

.pagination {
    margin-right: 100px;
    font-size: 13px;
}

.section {
    .message {
        width: auto;
    }
} 