@import 'utils';

.search-results {
    margin-bottom: 50px;
    h5 {
        padding-left: 4%;
    }
}

.pagination {
    margin-right: 100px;
    font-size: 13px;
}

.section {
    .message {
        width: auto;
    }
} 